/*Estilos Globales*/
/*Reset*/
/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

/* Estilos generales */
/* h1{
    color: white;
    font-size: 60pt;
    text-align: center;
} */

/* h2{
    color: darkred;
    font-size: 40pt;
    text-align: center;
} */

/* h3{
    color: white;
    font-size: 25pt;
    text-align: center;
    margin-top: 100px;
} */

/* body{
    background-color: #1e1e1e;
} */

/*.whatsapp{
    display: none;
}*/

/*@media only screen and (max-width: 768px){
    .whatsapp{
        display: block;
        position: fixed;
        right: 10px;
        bottom: 10px;
        z-index: 1;
    }

    .whatsapp img{
        width: 120px;
    }
}*/

/* header{
    background-color: rgb(216, 213, 213);
} */

/* .logo img{
    height: 200px;
    width: 200px;
    border-radius: 100%;
} */

/* .menu{
    flex-grow: 0;
} */

/* .menu-ul{
    align-items: center;
} */

/* .nav-link{
    color: black;
    font-size: 25px;
} */

/* .nav-link:hover{
    color: darkred;
    text-decoration: underline;
} */

/* .padding-0{
    padding-left: 0;
} */

/*@media screen and (max-width: 768px){
    .menu{
        position: absolute;
        top: 150px;
        background-color: rgb(216, 213, 213);
        width: 100vw;
    }
}*/

/* Main */

/*.texto{
    color: rgba(255, 255, 255, 0.884);
    font-size: 22pt;
    text-align:justify;
    padding: 100px;
}*/

/*.contenedor-imagenes{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 50% 50%;
    background-color: rgba(139, 0, 0, 0.164);
    justify-items: center;
    height: 500px;
}*/

/*.contenedor-imagenes img{
    width: 700px;
    height: 500px;
    border-radius: 40%;
}*/

/*@media screen and (max-width: 768px){
    .contenedor-imagenes{
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        background-color: rgba(139, 0, 0, 0.164);
        height: 400px;
    }
    
    .contenedor-imagenes img{
        width: 300px;
        height: 200px;
        border-radius: 40%;
    }
}*/

/* Main Galeria */

/*.contenedor-galeria{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3,650px);
    background-color: rgba(139, 0, 0, 0.164);
    justify-items: center;
    gap: 10px;
    height: 1820px;
    margin: 80px;
}*/

/*.contenedor-galeria img{
    width: 700px;
    height: 500px;
    border-radius: 40%;
}*/

/*@media screen and (max-width: 768px){
    .contenedor-galeria{
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        background-color: rgba(139, 0, 0, 0.164);
        height: 1270px;
    }
    
    .contenedor-galeria img{
        width: 300px;
        height: 200px;
        border-radius: 40%;
    }
}*/

/* Main Nosotros */

/*.nosotros-main{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}*/

/*.nosotros-hijo{
    padding: 10px;
}*/

/*.nosotros-main div img{
    width: 700px;
    height: 500px;
    border-radius: 40%;
}*/

/*.nosotros-main div p{
    color: white;
    font-size: 22pt;
    text-align: justify;
    padding: 100px;
}*/

/*@media screen and (max-width: 768px){
    .nosotros-main{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
    }
    
    .nosotros-hijo{
        padding: 10px;
    }
    
    .nosotros-main div img{
        width: 300px;
        height: 200px;
        border-radius: 40%;
    }
    
    .nosotros-main div p{
        color: white;
        font-size: 22pt;
        text-align: justify;
        padding: 100px;
    }
}*/

/* Main Sucursales */

/*.titulo-sucursales{
    margin-bottom: 70px;
}*/
/*.contenedor-sucursales{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}*/

/*.gps-texto h2{
    color: white;
    font-size: 30pt;
}*/

/*.gps{
    width: 500px;
    height: 500px;
    background-color: #611f1ff1;
    box-shadow: 9px 9px 17px 0px rgba(0,0,0,0.82);
}*/

/*.gps iframe{
    width: 100%;
    height: 400px;
}*/

/* Main Contacto */

/*form{
    width: 35vw;
    background-color: rgb(216, 213, 213);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 30px;
}*/

/*.form-section{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}*/

/*.form-div{
    position: relative;
    margin-bottom: 15px;
}*/

/*.form-div .input{
    height: 50px;
    width: 300px;
    border: 2px solid darkred;
    padding: 5px 20px;
    border-radius: 5px;
    outline: none;
}*/

/*.form-div .label{
    position: absolute;
    left: 5px;
    top: -5px;
    margin-top: 15px;
    background-color: #ffffff;
    border-radius: 2px;
    padding: 1px 7px;
    font-size: 16px;
    color: grey;
    transition: 0.3s;
}*/

/*.form-div .input:focus{
    border-color:darkred;
}*/

/*.form-div .input:focus ~ .label{
    margin-left: 10px;
    margin-top: -5px;
    font-size: 14px;
}*/

/* Footer */

/* .redes-sociales{
    margin-top: 100px;
    text-align: center;
} */

/* .redes-sociales a{
    color: white;
} */

/* .footer-copy{
    text-align: center;
    color: white;
} */