/* Main Nosotros*/
.main-nosotros{
    .nosotros-main{
        @include flex(column, wrap, center, center);
        //display: flex;
        //flex-direction: column;
        //flex-wrap: wrap;
        //justify-content: center;
        //align-items: center;
        margin-top: 50px;
        .nosotros-hijo{
            padding: 10px;
            img{
                width: 700px;
                height: 500px;
                border-radius: 40%;
            }
            p{
                color: white;
                font-size: 22pt;
                text-align: justify;
                padding: 100px;
            }
        }
    }
}