/* Estilos Footer*/
footer{
    .redes-sociales{
        margin-top: 100px;
        text-align: center;
        a{
            color: white;
        }
    }
    .footer-copy{
        text-align: center;
        color: white;
    }
}